body {
  background-color: black;
  color: white;
  font-size: 24px;
}
div {
  border: solid 2px;
}

#stopka {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
}

#root {
  position: relative;
}
#currently-logged{
  cursor: pointer;
}