body {
	background-color: black;
	color: white;
	font-size: 36px;
}
div {
	border: solid 2px;
}

#stopka {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
}
#post-counter {
	background-color: black;
	position: fixed;
	right: 0;
	top: 20%;
	width: 100%;
}
#root {
	position: relative;
}
#notification {
	position: fixed;
	top: 20%;
	right: 10%;
}
